[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
autopep8 = "*"

[packages]
astroid = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
chardet = "*"
click = "*"
colorama = "*"
docutils = "*"
gunicorn = "*"
idna = "*"
isort = "*"
itsdangerous = "*"
jmespath = "*"
lazy-object-proxy = "*"
mccabe = "*"
pylint = "*"
python-dateutil = "*"
python-dotenv = "*"
requests = "*"
s3transfer = "*"
six = "*"
typed-ast = "*"
urllib3 = "*"
wrapt = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"

[requires]
python_version = "3.7"
