

<form method=post>
    <label for="url">enter a url to check in ezproxy</label>
        <p>
        <input type=text name=url id=url>
    
   
        <input type=submit value='check ezproxy' aria-label="check ezproxy">
        </p>
</form>

{% if response %}

<p>search term: {{ search_term }}</p>
    {% for stanza in response %}
        
        <p>
            <ul class="found" style="color:green">
                <li>Stanza Title: {{ stanza['title']|e }} </li>
                <li>Config file: {{ stanza['config file']|e }}</li>
            </ul>
        </p>
    {% endfor %}
{% endif %}

{% if error %}
<h1>There was an error</h1>
<p>{{ error }}</p>
{% endif %}

